{% extends 'myapp/base.html' %}

{% block title %}Удалить запись{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Вы хотите удалить запись с сертификатом "{{ item.serial_number }}"?</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Да, удалить</button>
            <a href="{% url 'item_list' %}" class="btn btn-secondary">Нет</a>
        </form>
    </div>
</div>
{% endblock %}